.btn_list{
    display: flex;
    flex-direction: row;
}

.btn_list button {
    outline: none;
    border: 0;
    background: transparent;
    border: 1px solid rgb(206, 205, 206);
    color: rgb(206, 205, 206);
    font-family: Tahoma;
    margin-left: 3px;
    cursor: pointer;
    transition: all ease 0.3s;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.13);
}

.btn_list button:hover {
    border: 1px solid rgb(150, 149, 150);
    color: rgb(150, 149, 150);
}