.list_item{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-top: 5px;
}

.content {
    time {
        font-size: 13px;
        font-family: Tahoma;
        padding: 0px 10px 0px 25px;
        color: rgb(206, 205, 206);
    }
    > p {
        font-size: 15px;
        font-family: Tahoma;
        color: rgb(206, 205, 206); 
        padding: 0px 10px 0px 25px;
        display: block;
        margin-bottom: 5px;
        word-break: break-all;
    }
    padding-bottom: 20px;
}

.btn-panel {
    position: absolute;
    right: 0;
    top: 0;
}

.btn {
    position: relative;
    outline: none;
    background: none;
    padding: 5px;
    cursor: pointer;
    border: 0;
    box-sizing: border-box;
    margin-right: 2px;
    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background: #000;
        transition: all ease 0.3s;
    }
    &:hover:before {
        width: 100%;
    }
    &:hover::after {
        content: attr(data-title); /* Выводим текст */
        position: absolute; /* Абсолютное позиционирование */
        left: 0; top: 101%; /* Положение подсказки */
        z-index: 1; /* Отображаем подсказку поверх других элементов */
        background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
        font-family: Arial, sans-serif; /* Гарнитура шрифта */
        font-size: 11px; /* Размер текста подсказки */
        padding: 5px 10px; /* Поля */
        border: 1px solid #333; /* Параметры рамки */
        word-break: normal;
       }
}

.inputTitle{
    display: inline-block;
}

.editForm {
    display: flex;
    input[type="text"] {
        background: transparent;
        outline: none;
        font-family: Tahoma;
        color: rgb(206, 205, 206);
        border: 0;
        padding: 9px 5px;
        font-size: 15px;
        border-bottom: 1px solid rgb(94, 94, 94);
    }
}